head{
	text-align: center;
}

.container .row {
	text-align: left;
	margin-left: 30%;
}
input{
    width: 40%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    outline: none;
}
label {
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 25px;
}
input:focus {
    background-color:lightgreen;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
}

textarea {
   margin: 10px 0;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    width:40%;
    padding-left: 10px;
}
textarea:focus{
    background-color: lightgreen;
}
table {
    border-collapse: collapse;
    padding-left:20;
    padding-right: 20;
    overflow-wrap: break-word;
 	word-wrap: break-word;  
 	-ms-word-break: break-all;
 	word-break: break-all;
 	word-break: break-word;  
 	-ms-hyphens: auto;
 	-moz-hyphens: auto;
 	-webkit-hyphens: auto;
 	hyphens: auto;
 	width:70%;    
}

.hidden {
	display: none;
 }


.content-container {
	valing: center;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    width:40px;
    text-align: center;
}

tr:hover{
	background-color:lightgreen;
}
th {
    background-color: #4CAF50;
    color: white;
}
td .show-content {
	background-color: lightyellow;
	color: black;
}
#link-create-container {
    padding-left: 50;
    color: green;
}